/* Color on marker depending on marker difficulty */

/* difficulty 1 */
.level1 {
  background-color: #95c11f;
}
.leaflet-popup-content .level1 {
  border-color: #95c11f !important;
  background-color: white !important;
}
/* difficulty 2 */
.level2 {
  background-color: #1d71b8 !important;
}
.leaflet-popup-content .level2 {
  border-color: #1d71b8 !important;
  background-color: white !important;
}
/* difficulty 3 */
.level3 {
  background-color: #e6332a !important;
}
.leaflet-popup-content .level3 {
  border-color: #e6332a !important;
  background-color: white !important;
}
/* difficulty 4 */
.level4 {
  background-color: #101010 !important;
}
.leaflet-popup-content .level4 {
  border-color: #101010 !important;
  background-color: white !important;
}