<?xml version='1.0' encoding='utf-8'?>
<widget id="se.friskakarlstad.phonegap.client" version="2.1.10" versionCode="512" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Stolpjakten</name>
    <description>
        Official application for Stolpjakten
    </description>
    <content src="index.html" />
    
    <author email="info@friskakarlstad.se" href="http://oktyr.se">
        Stolpjakten - OK Tyr, Friska Karlstad
    </author>
    <preference name="phonegap-version" value="cli-6.5.0" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="phonegap-plugin-barcodescanner" />
    <plugin name="cordova-plugin-statusbar"/>
    <!--
    <gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" source="pgb" />
    -->
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*"/>
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
        <string>We are using the Camera for scanning QR codes.</string>
    </gap:config-file>
    <plugin name="cordova-plugin-geolocation"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <!-- iOS icons from http://docs.phonegap.com/phonegap-build/configuring/icons-and-splash/ -->
    <!-- iOS 7 -->
    <!-- iPhone 6 / 6+ -->
    <icon src="icons/ios/icon-60-3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icons/ios/icon-60.png" platform="ios" width="60" height="60" />
    <icon src="icons/ios/icon-60-2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icons/ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icons/ios/icon-76-2x.png" platform="ios" width="152" height="152" />
    <icon src="icons/ios/icon-83.5-2x.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="icons/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="icons/ios/icon-small-2x.png" platform="ios" width="58" height="58" />
    <icon src="icons/ios/icon-small-3x.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="icons/ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="icons/ios/icon-40-2x.png" platform="ios" width="80" height="80" />
    <icon src="icons/ios/icon-40-3x.png" platform="ios" width="120" height="120" />

    <!-- iOS 6 -->
    <!-- iPhone / iPod Touch -->
    <icon src="icons/ios/icon.png" platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="icons/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon-72-2x.png" platform="ios" width="144" height="144" />

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="icons/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="icons/ios/icon-small-2x.png" platform="ios" width="58" height="58" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="icons/ios/icon-50.png" platform="ios" width="50" height="50" />
    <icon src="icons/ios/icon-50-2x.png" platform="ios" width="100" height="100" />



    <splash src="splash/ios/iphone.png"           platform="ios" width="320"  height="480"  />
    <splash src="splash/ios/iphone-2x.png"        platform="ios" width="640"  height="960"  />
    <splash src="splash/ios/iphone5.png"          platform="ios" width="640"  height="1136" />
    <splash src="splash/ios/iphone6.png"          platform="ios" width="750" height="1334" />
    <splash src="splash/ios/iphone-landscape.png" platform="ios" width="1024" height="748"  />
    <splash src="splash/ios/iphone-portrait.png"  platform="ios" width="768"  height="1004" />
    <!-- retina iPad -->
    <splash src="splash/ios/ipad-landscape.png"   platform="ios" width="2048" height="1496" />
    <splash src="splash/ios/ipad-portrait.png"    platform="ios" width="1536" height="2008" />


</widget>
